<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro</title>

    <link rel="stylesheet" href="cadastro.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <main class="container">

        <header class="titulo">
            <h1>Cadastro</h1>
            <p>Insira as informações solicitadas</p>
        </header>

        <section id="formulario">

            <form>

                <legend>
                    <i class="fa-regular fa-user"></i>
                    Dados
                </legend>

                <div class="input-box">
                    <i class="fa-regular fa-user"></i>
                    <input type="text" placeholder="Digite seu nome completo">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-phone"></i>
                    <input type="tel" placeholder="(11) 99999-9999">
                </div>

                <div class="input-box">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="seu@email.com">
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Digite sua senha">

                </div>

                <div class="input-box">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Confirme sua senha">

                </div>

                <button id="btnCadastrar">
                    Cadastrar
                    <i class="fa-solid fa-arrow-right"></i>
                </button>

            </form>

        </section>

    </main>

</body>

</html>